<nav class="navbar navbar-expand-lg bg-primary navbar-dark bg-gradient">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NeosTicaret</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">oluştur</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sepet' %}">Sepetim</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kategoriler
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for i in kategori %}
                    <li><a class="dropdown-item" href="{% url 'filter' i.id %}">{{i.name}}</a></li>
                {% endfor %}
                
                </ul>
              </li>
              {% if user.is_authenticated %}
                  <li class="nav-item">
                <a class="nav-link text-uppercase" href="">{{request.user}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Çıkış</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reset_password' %}">Şifre değiştir</a>
              </li>
              {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Giriş</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Kayıt</a>
              </li>
              {% endif %}
              
            
            </ul>
            <form class="d-flex" role="search" method="GET">
              <input class="form-control me-2" type="search" name="search_query" value="{{search_query}}" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
