{% extends "index.html" %}
{% load static %}

{% block content %}
         <div class="row">
            {% for i in urun %}
            <div class="col-md-3">
                
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.resim.url}}" height="200" alt="">
                        <div class="card-body bg-light">
                            <h5 class="card-title text-center">{{i.isim}}</h5>
                            <small class="text-center d-block">{{i.fiyat}}</small>
                        </div>
                    </div>
                
            </div>
            {% endfor %}
        </div>
{% endblock content %}
      
       
  

 
  